/*
Custom CSS for TemplateMo 561 Purple Buzz

https://templatemo.com/tm-561-purple-buzz

*/


/* Standardize object images: square thumbnails with cover fit */
.img-objet {
	width: 100%;
	aspect-ratio: 1 / 1;
	height: auto;
	object-fit: cover;
	display: block;
}

@media (max-width: 576px) {
	.img-objet {
		width: 100%;
		aspect-ratio: 1 / 1;
		height: auto;
	}
}


